.quill-div{
    height: 200%;
    border: 1px; 
    margin: 5px;
}

ReactQuill{
    height: 5000px;
}

#editor-container {
    height: 500px;
    color: black;
    background-color: white;
  }
  
.ql-container{
    background-color: white;
}